* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: 100%;
}

.caixa-maior {
    background-color: #000000;
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    height: 300px;
}

.input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #7C7C7C2B;
    font-size: 18px;
    color: #FFFFFF;
    width: calc(100% - 100px);
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7C7C7C2B;
    cursor: pointer;
    float: right;
}

.img-lupa {
    width: 20px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 300;
}

.temperatura {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.previsao {
    color: #FFFFFF;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #FFFFFF;
    margin-top: 20px;
}
